@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Scripture Journal</h1>
    <p>Find inspiration in the <a href="https://www.churchofjesuschrist.org/study/scriptures">Standard Works</a>. Record and save notes about your favorite scripture passages.</p>
</div>
